* {
    font-family: 'Roboto', sans-serif;
}

#search {
    background-size: 100% auto;
    padding: 6% 20% 10% 20%;
    background: url("../img/Banner_Cooking.jpg") no-repeat fixed center;
    background-size: cover;
}

#search-bar {
    margin: 50px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
