<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>fr.iut.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <!-- SECURITY CONSTRAINT #1 -->
  <security-constraint> <!-- spécifie l'utilisation de contraintes -->
    <web-resource-collection> <!-- URLs concernées -->
      <web-resource-name>wholesale</web-resource-name> <!-- nom -->
      <url-pattern>/company/wholesale/*</url-pattern> <!-- motif -->
    </web-resource-collection>
    <auth-constraint> <!-- contrainte d'authentification (qui peut) -->
      <role-name>PARTNER</role-name>
    </auth-constraint>
    <user-data-constraint> <!-- contrainte de transport (chiffrement) -->
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- SECURITY CONSTRAINT #2 -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>retail</web-resource-name>
      <url-pattern>/company/retail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>CLIENT</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>
